body{
    background-color: #7a81d2;
    margin: 20px;
}

h1{
    text-align: center;
    background-color: rgb(114, 200, 235);
}

nav{
    height: 50px;
    text-align: center;
    background-color: rgba(17, 100, 159, 0.603);
}

nav ul{
    list-style:none;
    text-align:center;
    line-height:50px;
}

ul li{
    display: inline-block;
    margin: 0px 15px;
}

.lista li a{
    text-decoration:none;
    color:white;
}

.lista > li{
    float:left;
}

.lista li ul{
    display:none;
    position:absolute;
    min-width:50px;
}

.lista li:hover > ul{
    display:block;
    color:white;
    background-color: darkslateblue;
}


.lista li ul li{
    position:relative;
    top:1px;
}
